*
!install.sh
!dollar-unix
!dollar-unix/*
!wikidot
!wikidot/*
!.bash_profile
!.gitignore
!.sbclrc
!.abclrc
!.clisprc.lisp
!README
!.emacs.d
!.emacs.d/*
!.emacs.d/*/*
!.emacs.d/*/*/*
!.emacs.d/*/*/*/*
!.emacs.d/*/*/*/*/*
!.emacs.d/*/*/*/*/*/*
!.emacs.d/*/*/*/*/*/*/*
!.emacs.d/*/*/*/*/*/*/*/*
!.emacs.d/*/*/*/*/*/*/*/*/*
!.emacs.d/*/*/*/*/*/*/*/*/*/*
*~
*.elc
*.gz
*.tgz

