*
!.bash_profile
!.gitignore
!.emacs.d
!.emacs.d/*
!.emacs.d/*/*
!.emacs.d/*/*/*
!.emacs.d/*/*/*/*
!.emacs.d/*/*/*/*/*
!.emacs.d/*/*/*/*/*/*
!.emacs.d/*/*/*/*/*/*/*
!.emacs.d/*/*/*/*/*/*/*/*
!.emacs.d/*/*/*/*/*/*/*/*/*
!.emacs.d/*/*/*/*/*/*/*/*/*/*
*~
*.elc
*.gz
*.tgz

