<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.USER.jupyter-notebook</string>
  <key>ProgramArguments</key>
  <array>
      <string>/usr/local/bin/jupyter-notebook</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>NOTEBOOK_DIR/jupyter-notebook.log</string>
  <key>StandardErrorPath</key>
  <string>NOTEBOOK_DIR/jupyter-notebook.err.log</string>
  <key>WorkingDirectory</key>
  <string>NOTEBOOK_DIR</string>
</dict>
</plist>
